---
import Layout from "~/layouts/Layout.astro";

const { session } = Astro.locals;
if (session.isSignedIn()) {
  return Astro.redirect("/home");
}

const returnTo = Astro.url.searchParams.get("returnTo") || "/home";
---

<Layout title="My first Astro app">
	<main>
		<form action="/sign-in" method="post">
		  <label>
				<span>User name</span>
				<input name="username"/>
			</label>
			<input type="hidden" name="returnTo" value={returnTo}/>
			<button
			  type="submit"
				name="action"
				value="sign-in"
			>Sign in</button>
		</form>
	</main>
</Layout>
