---
import Layout from "~/layouts/Layout.astro";
import Counter from "./_Counter.vue";

const { session } = Astro.locals;
---

<Layout title="Home">
  <header>
    <form action="/sign-out" method="POST">
      <button type="submit">Sign out</button>
    </form>
  </header>
	<main>
		<p>You are signed in as {session.username}</p>
		<Counter client:load/>
	</main>
</Layout>
